<section>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ task.title }}</h5>
          <span class="badge {{statusBadge}}">{{ statusName }}</span>
          <p class="card-text">{{ task.description }}.</p>
          <form *ngIf="isTaskOwner" [formGroup]="statusFormGroup" (submit)="ChangeStatus()">
            <div class="form-group">
                <label for="name">Name</label>
                <select class="form-control" formControlName="status">
                    <option value="0">New</option>
                    <option value="1">In Progress</option>
                    <option value="2">Completed</option>
                </select>
                <button class="btn btn-icon btn-3 btn-primary" type="submit">Update Status</button>
            </div>
        </form>
        <button class="btn btn-primary" [routerLink]="['/tasks']">Back</button>
        </div>
      </div>


    <div class="container">
        <div class="form-group mb-0" style="margin-top: 8px;" [ngClass]="{ 'focused': focus === true }">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input class="form-control" [(ngModel)]="searchText" placeholder="Search" type="text" (focus)="focus = true"
              (blur)="focus = false">
            </div>
          </div>
        <div class="row">
            <div class="col-sm-5 col-md-6 col-12 pb-4">
                <h1>Comments</h1>
                <div *ngFor='let comment of task.comments| searchFilter: searchText: "detail"'>
                    <h4> {{ comment.poster }}</h4>
                    <span>- {{ comment.dateAdded }}</span>
                    <br>
                    <p> {{comment.text }}</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                <form [formGroup]="commentFormGroup" (submit)="AddComment()">
                    <div class="form-group">
                        <h4>Leave a comment</h4>
                        <label for="message">Message</label>
                        <textarea name="msg" id=""msg cols="30" rows="5" formControlName="text" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="name">Type</label>
                        <select class="form-control" formControlName="type">
                            <option value="0">Normal</option>
                            <option value="1">Urgent</option>
                            <option value="2">Critical</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="date">Reminder Date</label>
                        <input type="date" formControlName="reminderDate" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="submit" [disabled]="commentFormGroup.invalid" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</section>